@model IEnumerable<SistemaPortafolio.Models.Silabo>

@{
    ViewBag.Title = "Index";
}

<h2>SÍLABOS</h2>

<p>
    <button class="btn btn-default">@Html.ActionLink("CREAR", "Create")</button>
</p>
<table data-paging="true" data-filtering="true" data-sorting="true" data-state="true" class="table table-bordered bg-gray-light">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                DOCENTE
            </th>
            <th>
                CURSO
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CursoDocente.cursodocente_id)
            </td>
            <td>
                @item.CursoDocente.Persona.nombre @item.CursoDocente.Persona.apellido
            </td>
            <td>
                @item.CursoDocente.Curso.nombre
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.silabo_id }) |
                @Html.ActionLink("Ver", "Pdf", new { id = item.silabo_id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.silabo_id })
            </td>
        </tr>
    }
    </tbody>
</table>
<script>
    jQuery(function($){
        $('.table').footable();
    });
</script>

