@model SistemaPortafolio.Models.HojaVidaDocenteMembresia
<div class="panel panel-default">
    <div class="panel-body">
        <h2>MEMBRESIAS</h2>

        <a href="~/Admin/HojaVida/MiHojaVida" class="">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Regresar a Mi Hoja de vida
        </a>
        <div class="row">
            <div class="col-lg-6">
                <a href="~/Admin/HojaVida/AgregarEditarHP/" class="btn btn-primary">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Regresar a Honores y premios
                </a>
            </div>
            <div class="col-lg-6 text-right">
                <a href="~/Admin/HojaVida/AgregarEditarP/" class="btn btn-primary">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Ir a publicaciones
                </a>
            </div>
            
        </div>
        <br />
        @using (Html.BeginForm("AgregarEditarM", "HojaVida", FormMethod.Post, new { id = "frm-HojaVida" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.idHojaVidaDocenteMembresia)
            @Html.HiddenFor(x => x.hojavida_id)

            <div class="panel panel-default">
                <div class="panel-heading">Información de Membresias</div>
                <div class="panel-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label>Institución:</label>
                        @Html.EditorFor(model => model.institucion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.institucion, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Función:</label>
                        @Html.EditorFor(model => model.funcion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.funcion, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Año:</label>
                        @Html.EditorFor(model => model.ano, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ano, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="~/Admin/HojaVida/AgregarEditarM" class="btn btn-danger">Cancelar</a>
            </div>

        }
        <br />
        <div class="panel panel-default">
            <div class="panel-heading">Mis membresias</div>
            <div class="panel-body">
                <table class="table table-hover table-responsive">
                    <tr>
                        <th>
                            Certificacion
                        </th>
                        <th>
                            Institucion
                        </th>
                        <th>
                            Año
                        </th>
                        <th>Opción</th>
                    </tr>

                    @foreach (var item in ViewData["listado"] as List<SistemaPortafolio.Models.HojaVidaDocenteMembresia>)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.institucion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.funcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ano)
                            </td>
                            <td>
                                <i data-toggle="tooltip" data-placement="top" title="Modificar" aria-hidden="true"><a href="~/Admin/HojaVida/AgregarEditarM/@item.idHojaVidaDocenteMembresia" class="glyphicon glyphicon-pencil btn btn-sm btn-info"></a></i>

                                <i data-toggle="tooltip" data-placement="top" title="Eliminar" aria-hidden="true"><a href="~/Admin/HojaVidaDocenteMembresia/Eliminar/@item.idHojaVidaDocenteMembresia" class="glyphicon glyphicon-remove btn btn-sm btn-danger"></a></i>
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</div>