@model SistemaPortafolio.Models.InformeFinal

@{
    ViewBag.Title = "CREAR";
}

<h2>CREAR</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Informe Final</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.cursodocente_id, "CURSO :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("cursodocente_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.cursodocente_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.porcentaje_silabo, "RESUMEN DEL CURSO:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>RESUMEN DEL CURSO</td>
                            <td>N°</td>
                            <td>%</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Porcentaje de cumplimiento del sílabo</td>
                            <td>@Html.TextBoxFor(m => m.porcentaje_silabo, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Prácticas calificadas realizadas</td>
                            <td>@Html.TextBoxFor(m => m.practicas, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Experiencias de laboratorio realizadas</td>
                            <td>@Html.TextBoxFor(m => m.laboratorios, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Proyectos y/o trabajos realizados</td>
                            <td>@Html.TextBoxFor(m => m.proyectos, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Estudiantes matriculados</td>
                            <td>@Html.TextBoxFor(m => m.matriculados, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Estudiantes con retiro</td>
                            <td>@Html.TextBoxFor(m => m.retiro, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Estudiantes en abandono</td>
                            <td>@Html.TextBoxFor(m => m.abandono, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Estudiantes que asisten</td>
                            <td>@Html.TextBoxFor(m => m.asisten, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Estudiantes aprobados</td>
                            <td>@Html.TextBoxFor(m => m.aprobados, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Estudiantes desaprobados</td>
                            <td>@Html.TextBoxFor(m => m.desaprobados, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Nota final más alta</td>
                            <td>@Html.TextBoxFor(m => m.nota_alta, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Nota final promedio</td>
                            <td>@Html.TextBoxFor(m => m.nota_promedio, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Nota final mas baja</td>
                            <td>@Html.TextBoxFor(m => m.nota_baja, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.motivo, "LOGROS :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <table id="tblCapacidades" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Capacidades del curso</td>
                            <td>N</td>
                            <td>P</td>
                            <td>A</td>
                            <td>B</td>
                            <td>M</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" name="capacidad[0]" class="form-control" /></td>
                            <td><input type="radio" name="nivel[0]" value="Nada"></td>
                            <td><input type="radio" name="nivel[0]" value="Poco"></td>
                            <td><input type="radio" name="nivel[0]" value="Aceptable"></td>
                            <td><input type="radio" name="nivel[0]" value="Bien"></td>
                            <td><input type="radio" name="nivel[0]" value="Muy Bien"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="capacidad[1]" class="form-control" /></td>
                            <td><input type="radio" name="nivel[1]" value="Nada"></td>
                            <td><input type="radio" name="nivel[1]" value="Poco"></td>
                            <td><input type="radio" name="nivel[1]" value="Aceptable"></td>
                            <td><input type="radio" name="nivel[1]" value="Bien"></td>
                            <td><input type="radio" name="nivel[1]" value="Muy Bien"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="capacidad[2]" class="form-control" /></td>
                            <td><input type="radio" name="nivel[2]" value="Nada"></td>
                            <td><input type="radio" name="nivel[2]" value="Poco"></td>
                            <td><input type="radio" name="nivel[2]" value="Aceptable"></td>
                            <td><input type="radio" name="nivel[2]" value="Bien"></td>
                            <td><input type="radio" name="nivel[2]" value="Muy Bien"></td>
                        </tr>
                    </tbody>
                </table>
                <input type="button" value="Agregar" id="btnAgregar" class="btn btn-default" />
                <input type="button" value="Eliminar" id="btnEliminar" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.motivo, "MOTIVO :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>Cuál cree que ha sido el motivo por el cual los estudiantes no alcanzaron el logro de capacidades</p>
                @Html.TextAreaFor(model => model.motivo, new { @class = "form-control " })
                @Html.ValidationMessageFor(model => model.motivo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.observacion_estudiantes, "OBSERVACIONES", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>1.    De los estudiantes. Nivel académico, conocimientos previos, interés en el curso, estilos de aprendizaje</p>
                @Html.TextAreaFor(model => model.observacion_estudiantes, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.observacion_estudiantes, "", new { @class = "text-danger" })

                <p>2.    Asistencia y puntualidad de los estudiantes.</p>
                @Html.TextAreaFor(model => model.observacion_asistencia, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.observacion_asistencia, "", new { @class = "text-danger" })

                <p>3.    Del sílabo.  ¿Qué temas del sílabo no se han completado? Considera todos los temas adecuados? ¿Qué temas requieren más tiempo de dedicación? </p>
                @Html.TextAreaFor(model => model.observacion_silabo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.observacion_silabo, "", new { @class = "text-danger" })

                <p>4.  Uso del Aula Virtual.  Información colocada, uso de foros, chat  y cantidad de visitas estudiantiles.</p>
                <div class="row">
                    <div class="col-md-3">
                        Material del curso
                    </div>
                    <div class="col-md-1">
                        <input class="form-control" type="text" name="aula[0]" />
                    </div>
                    <div class="col-md-3">
                        Cuestionarios
                    </div>
                    <div class="col-md-1">
                        <input class="form-control" type="text" name="aula[1]" />
                    </div>
                    <div class="col-md-3">
                        Tareas encargadas
                    </div>
                    <div class="col-md-1">
                        <input class="form-control" type="text" name="aula[2]" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        Foros
                    </div>
                    <div class="col-md-1">
                        <input class="form-control" type="text" name="aula[3]" />
                    </div>
                    <div class="col-md-3">
                        Exámenes virtuales
                    </div>
                    <div class="col-md-1">
                        <input class="form-control" type="text" name="aula[4]" />
                    </div>
                    <div class="col-md-3">
                        Slideshows
                    </div>
                    <div class="col-md-1">
                        <input class="form-control" type="text" name="aula[5]" />
                    </div>
                </div>
                @Html.HiddenFor(model => model.observacion_aulavirtual, new { @class = "form-control" })

                <p>5.  Administrativas.  Disponibilidad de recursos en aulas y laboratorios.</p>
                @Html.TextAreaFor(model => model.observacion_administrativas, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.observacion_administrativas, "", new { @class = "text-danger" })

                <p>6. Sílabo por competencias.  Qué actividades realizó usted para la evaluación del cumplimiento de las competencias  de su curso,  por los estudiantes? Podría presentar una propuesta de evaluación de las competencias de su curso?</p>
                @Html.TextAreaFor(model => model.observacion_competencias, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.observacion_competencias, "", new { @class = "text-danger" })

                <p>7. Mejora continua. Qué actividades de mejora continua ha realizado en el curso en este ciclo y cuales      propone para el siguiente, para mejorar el rendimiento académico del estudiante. </p>
                @Html.TextAreaFor(model => model.observacion_mejora, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.observacion_mejora, "", new { @class = "text-danger" })

                <p>8. Actualización docente. Ha seguido usted algún curso de actualización profesional o docente en los      últimos dos años. Indique tema del curso y duración. </p>
                @Html.TextAreaFor(model => model.observacion_docente, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.observacion_docente, "", new { @class = "text-danger" })

                <p>9. Comentarios y Recomendaciones. Serán útiles para mejorar el Plan de Estudios y los servicios que      brindan la Escuela, la Facultad y la Universidad</p>
                @Html.TextAreaFor(model => model.observacion_recomendaciones, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.observacion_recomendaciones, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="CREAR" class="btn btn-default" />
            </div>s
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    var capacidadesCounter = 2;
    $("#btnAgregar").click(function () {
        capacidadesCounter++;
        $("#tblCapacidades").find('tbody')
            .append($('<tr>')
                .append($('<td>')
                    .append($('<input type="text" class="form-control" name="capacidad[' + capacidadesCounter + ']">')
                    )
                )
                .append($('<td>')
                    .append($('<input type="radio" value="Nada" name="nivel[' + capacidadesCounter + ']">')
                    )
                )
                .append($('<td>')
                    .append($('<input type="radio" value="Poco" name="nivel[' + capacidadesCounter + ']">')
                    )
                )
                .append($('<td>')
                    .append($('<input type="radio" value="Aceptable" name="nivel[' + capacidadesCounter + ']">')
                    )
                )
                .append($('<td>')
                    .append($('<input type="radio" value="Bien" name="nivel[' + capacidadesCounter + ']">')
                    )
                )
                .append($('<td>')
                    .append($('<input type="radio" value="Muy Bien" name="nivel[' + capacidadesCounter + ']">')
                    )
                )
            );
    });

    $("#btnEliminar").click(function () {
        $("#tblCapacidades tr:last").remove();
        capacidadesCounter--;
    });
</script>