@model SistemaPortafolio.Models.InformeFinal

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Está seguro que desea eliminar este registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            DOCUMENTO:
        </dt>
        <dd>
            Informe Final
        </dd>
        <dt>
            CÓDIGO:
        </dt>
        <dd>
            @Model.CursoDocente.Curso.curso_cod
        </dd>
        <dt>
            CURSO:
        </dt>
        <dd>
            @Model.CursoDocente.Curso.nombre
        </dd>
        <dt>
            SECCIÓN:
        </dt>
        <dd>
            @Model.CursoDocente.Curso.seccion
        </dd>
        <dt>
            CICLO:
        </dt>
        <dd>
            @Model.CursoDocente.Curso.Ciclo.ciclo_id
        </dd>
        <dt>
            DOCENTE:
        </dt>
        <dd>
            Ing. @Model.CursoDocente.Persona.nombre @Model.CursoDocente.Persona.apellido
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
